/* Bootstrap variable overrides start */

$border-radius: 0;

$spacer: 1rem;
$spacers: (
    0: 0,
    1: $spacer * .25,
    2: $spacer * .5,
    3: $spacer,
    4: $spacer * 2
);

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 960px,
    xxl: 960px
);

/* Bootstrap variable overrides end */

@import "../node_modules/bootstrap/scss/bootstrap";

#root {
    background-color: #f7f7f7;
}