.drag-box {
    outline: 1px dashed rgb(128, 128, 128);
    position: absolute;
    cursor: move;
}

.drag-box--off {
    display: none;
}

.resize {
    position: absolute;
    z-index: 3;
    width: 17px;
    height: 17px;
    background: #ccc;
    background: rgba(255,255,255,.6);
    border: 1px solid #333;
    border-radius: 2px
}

.N {
    top: -10px;
    left: -10px
}

.W {
    top: -10px;
    left: -10px
}

.S {
    left: -10px;
    bottom: -10px
}

.E {
    right: -10px;
    top: -10px
}

.N,.S {
    cursor: ns-resize
}

.E, .W {
    cursor: ew-resize
}

.NW, .SE {
    cursor: nw-resize
}

.NE, .SW {
    cursor: ne-resize
}

.NW, .NE {
    top: -10px
}

.SE, .SW {
    bottom: -10px
}

.NW,.SW {
    left: -10px
}

.NE, .SE {
    right: -10px
}

.wrapN, .wrapS {
    position: absolute;
    left: 50%
}

.wrapE, .wrapW {
    position: absolute;
    top: 50%
}

.wrapN {
    top: 0
}

.wrapS {
    bottom: 0
}

.wrapE {
    right: 0
}

.wrapW {
    left: 0
}
